<div class="container-fluid main-content">
    <div class="row">
        <div class="col-md-4">
            <h2 class="title-1 m-b-25">Styles</h2>
        </div>
        <div class="col-md-4"></div>
        <div class = "col-md-4"> 
              <button class="btn btn-primary right-float" (click)="addNew()"><i class="fas fa-plus m-r-5">Add Style</i></button>
        </div>
      <div class="col-md-12">
            <div class="table-responsive table--no-card m-b-40">
                <table class="table table-borderless table-striped table-common">
                    <thead>
                        <tr>
                          <th>#</th>
                          <th>Style Name</th>
                          <th>Project Name</th>
                          <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let style of styles; index as i" >
                        <th scope="row">{{i+1}}</th>
                        <td>{{style.name}}</td>
                        <td>{{style.project.name}}</td>
                        <td>{{style.description}}</td>
                      </tr>
                    </tbody>
                </table>
            </div>
      </div>
    </div>
  </div>

  
<div [@popOverState]="stateName" (@popOverState.done) = "TriggerEvent($event)">  
        
    <app-styles-form (messageEvent)="receiveMessage($event)"></app-styles-form>
</div>