<div class="container-fluid main-content">
  <div class="row">
      <div class="col-md-4">
          <h2 class="title-1 m-b-25">Store</h2>
      </div>
      <div class="col-md-4"></div>
      <div class = "col-md-4"> 
            <button class="btn btn-primary right-float" (click)="addNew()"><i class="fas fa-plus"></i>Add Store</button>
      </div>
    <div class="col-md-12">
          <div class="table-responsive table--no-card m-b-40">
              <table class="table table-borderless table-striped table-common">
                  <thead>
                      <tr>
                        <th>#</th>
                        <th>Stage</th>
                        <th>Location</th>
                        <th>Item</th>
                        <th>Unit</th>
                        <th>Quantity</th>
                      </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let store of stores; index as i" (click)="seeDetailView(store)">
                      <td scope="row">{{i+1}}</td>
                      <td>{{store.stage.name}}</td>
                      <td>{{store.location.name}}</td>
                      <td>{{store.item.name}}</td>
                      <td>{{store.unit.symbol}}</td>
                      <td>{{store.quantity}}</td>
                    </tr>
                  </tbody>
              </table>
          </div>
    </div>
  </div>
</div>

<div [@popOverState]="stateName" (@popOverState.done) = "TriggerEvent($event)">  
      
  <app-store-form  (messageEvent)="receiveMessage($event)"></app-store-form>
</div>


