<div class="container-fluid main-content">
  <div class="row">
      <div class="col-md-4">
          <h2 class="title-1 m-b-25">Inventories</h2>
      </div>


      <!--filter starts here-->
       <div class="col-md-4">
        <div class="filters" >
           <div class="form-group" *ngIf="stages">
            <label for="sel1">Select stage:</label>
            <select class="form-control" id="sel1" [(ngModel)]="selectedStage" name="selectedStage">
              <option value="all" selected>All</option>
              <option *ngFor="let s of stages" value={{s.name}}>{{s.name}}</option>
              
            </select>
          </div> 
           <div class="form-group" *ngIf="locations">
            <label for="sel1">Select location:</label>
            <select class="form-control" id="sel1" [(ngModel)]="selectedLocation" name="selectedLocation">
              <option value="all" selected>All</option>
             <option *ngFor="let s of locations" value={{s.name}}>{{s.name}}</option>
            </select>
          </div>
           <div class="form-group" *ngIf="items">
            <label for="sel1">Select item:</label>
            <select class="form-control" id="sel1" [(ngModel)]="selectedItem" name="selectedItem">
              <option value="all" selected>All</option>
              <option *ngFor="let s of items" value={{s.name}}>{{s.name}}</option>
            </select>
          </div> 
        </div>
       <button class="btn btn-primary right-float" (click)="loadInventories()"><i class="fas fa-plus"></i>Apply Filter</button>
      </div>
      <!--filter ends here--> 
     


      <div class = "col-md-4"> 
            <button class="btn btn-primary right-float" (click)="addNew()"><i class="fas fa-plus"></i>Add Store</button>
      </div>
    <div class="col-md-12">
          <div class="table-responsive table--no-card m-b-40">
              <table class="table table-borderless table-striped table-common">
                  <thead>
                      <tr>
                        <th>#</th>
                        <th>Stage</th>
                        <th>Location</th>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Detail View</th>
                      </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let store of stores; index as i" (click)="seeDetailView(store)">
                      <td scope="row">{{i+1}}</td>
                      <td>{{store.stage.name}}</td>
                      <td>{{store.location.name}}</td>
                      <td>{{store.item.name}}</td>
                      <td>{{store.quantity}} {{store.unit.symbol}}</td>
                      <td><button class="btn btn-outline-info btn-xs m-r-5 detail-btn" data-toggle="tooltip" data-original-title="Edit" (click)="seeDetailView(store)"><i class="fa fa-pencil font-14"></i></button></td>
                    </tr>
                  </tbody>
              </table>
          </div>
    </div>
  </div>
</div>

<div [@popOverState]="stateName" (@popOverState.done) = "TriggerEvent($event)">  
      
  <app-store-form  (messageEvent)="receiveMessage($event)"></app-store-form>
</div>


