<div class="container-fluid main-content">
  <div class="row">
      <div class="col-md-3">
          <h3 class="title-1 m-b-10">Inventories</h3>
      </div>
      <!--filter starts here-->
       <div class="col-md-6">
         <div class="row">
           <div class="col-md-3">
              <div class="form-group" *ngIf="stages">
                <select class="form-control" id="sel1" [(ngModel)]="selectedStage" name="selectedStage">
                  <option value="all" selected>All</option>
                  <option *ngFor="let s of stages" value={{s.name}}>{{s.name}}</option>
                </select>
                <label for="sel1">Select Stage</label>
              </div> 
           </div>
           <div class="col-md-3">
              <div class="form-group" *ngIf="locations">
                <select class="form-control" id="sel1" [(ngModel)]="selectedLocation" name="selectedLocation">
                  <option value="all" selected>All</option>
                  <option *ngFor="let s of locations" value={{s.name}}>{{s.name}}</option>
                </select>
                <label for="sel1">Select Location</label>
              </div>
           </div>
           <div class="col-md-3">
              <div class="form-group" *ngIf="items">
                <select class="form-control" id="sel1" [(ngModel)]="selectedItem" name="selectedItem">
                  <option value="all" selected>All</option>
                  <option *ngFor="let s of items" value="{{s.name}}##${{s.color_code}}">{{s.name}}-{{s.color_code}}</option>
                </select>
                <label for="sel1">Select Item</label>
              </div> 
           </div>
           <div class="col-md-3">
              <button class="btn btn-primary right-float" (click)="loadInventories()"><i class="fas fa-plus"></i>Apply Filter</button>
           </div>
         </div>
       
      </div>
      <!--filter ends here--> 
      <div class = "col-md-3" *ngIf="showInventoryButton"> 
            <button class="btn btn-primary right-float" (click)="addNew()"><i class="fas fa-plus"></i>Add Inventory</button>
      </div>
    <div class="col-md-12">
          <div class="table-responsive table--no-card m-b-20">
              <table class="table table-borderless table-striped table-common">
                  <thead>
                      <tr>
                        <th>#</th>
                        <th>Stage</th>
                        <th>Location</th>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Detail View</th>
                      </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let store of stores; index as i">
                      <td scope="row">{{i+1}}</td>
                      <td>{{store.stage.name}}</td>
                      <td>{{store.location.name}}</td>
                      <td>{{store.item.name}}-{{store.item.color_code}}</td>
                      <td>{{store.quantity}} {{store.unit.symbol}}</td>
                      <td><button class="btn btn-outline-info btn-xs m-r-5 detail-btn" data-toggle="tooltip" data-original-title="Edit" (click)="seeDetailView(store)"><i class="fa fa-pencil font-14"></i></button></td>
                    </tr>
                  </tbody>
              </table>
          </div>
    </div>
  </div>
</div>

<div [@popOverState]="stateName" (@popOverState.done) = "TriggerEvent($event)">  
      
  <app-store-form  (messageEvent)="receiveMessage($event)"></app-store-form>
</div>


