<div class="modal-wrapper">
  <div class="modal-contain">
     <div class="container">
    <div class="card">
        <div class="card-header text-center">Add Location</div>
        <div class="card-body">
            <div class="card-title">
                <h3 class="text-center title-2">Location</h3>
            </div>
            <hr>
            <form action="" method="post" novalidate="novalidate" *ngIf="!showloading">
                <div class="form-group">
                    <label for="cc-payment" class="control-label mb-1">Name</label>
                    <input class="form-control" type="text" [(ngModel)]="item.name" name="item.name">
                </div>
                <div class="form-group has-success">
                    <label for="cc-name" class="control-label mb-1">Address</label>
                    <input class="form-control" type="text" [(ngModel)]="item.address" name="item.address">
                </div>
                <div class = row>
                    <div class= "col-md-4"></div>
                    <div *ngIf="!lock" class="col-md-5">
                        <button  class="btn btn-success" (click)="submit()">Submit</button>
                        <button  class="btn btn-danger m-l-20" (click)="cancel()">Cancel</button> 
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </form>
            <div *ngIf="showloading" style="text-align:center">
                <div style="display:block">
                <app-small-loading></app-small-loading>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>