<div class="container-fluid main-content">
  <div class="row">
      <div class="col-md-4">
          <h3 class="title-1 m-b-10">Bookings</h3>
      </div>
      <div class="col-md-4"></div>
      <div class = "col-md-4"> 
            <button class="btn btn-primary right-float" (click)="addNew()"><i class="fas fa-plus"></i>Add booking</button>
      </div>
    <div class="col-md-12">
          <div class="table-responsive table--no-card m-b-40">
              <table class="table table-borderless table-striped table-common">
                  <thead>
                      <tr>
                        <th>#</th>
                        <th>Quantity</th>
                        <th>Item</th>
                        <th>Style</th>
                        <th>Status</th>
                        <th>Detail View</th>
                      </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let booking of bookings; index as i">
                      <td scope="row">{{i+1}}</td>
                      <td>{{booking.quantity}} {{booking.unit.symbol}}</td>
                      <td>{{booking.item.name}}</td>
                      <td>{{booking.style.name}}</td>
                      <td>{{booking.status}}</td>
                      <td><button class="btn btn-outline-info btn-xs m-r-5 detail-btn" data-toggle="tooltip" data-original-title="Edit" (click)="seeDetailView(booking)"><i class="fa fa-pencil font-14"></i></button></td>
                    </tr>
                  </tbody>
              </table>
          </div>
    </div>
  </div>
</div>

<div [@popOverState]="stateName" (@popOverState.done) = "TriggerEvent($event)">     
  <app-booking-form  (messageEvent)="receiveMessage($event)"></app-booking-form>
</div>
