<div class="container-fluid main-content">
    <div class="row">
        <div class="col-md-4">
            <h2 class="title-1 m-b-25">Purchase</h2>
        </div>
        <div class="col-md-4"></div>
        <div class = "col-md-4"> 
              <button class="btn btn-primary right-float" (click)="addNew()"><i class="fas fa-plus"></i>Add Purchase</button>
        </div>
      <div class="col-md-12">
            <div class="table-responsive table--no-card m-b-40">
                <table class="table table-borderless table-striped table-common">
                    <thead>
                        <tr>
                          <th>#</th>
                          <th>Client</th>
                          <th>receiptNumber</th>
                          <th>sellerName</th>
                          <th>quantity</th>
                          <th>item_id</th>
                          <th>Price Per Unit</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let purchase of purchases; index as i">
                        <td scope="row">{{i+1}}</td>
                        <td > <span *ngIf="purchase.style">{{purchase.style.project.client.name}}</span><span *ngIf="!purchase.style">NA</span></td>
                        <td>{{purchase.receiptNumber}}</td>
                        <td>{{purchase.sellerName}}</td>
                        <td>{{purchase.quantity}} {{purchase.unit.name}}</td>
                        <td>{{purchase.item.name}}</td>
                        <td>{{purchase.price_per_unit}}</td>
                      </tr>
                    </tbody>
                </table>
            </div>
      </div>
    </div>
  </div>
  
<div [@popOverState]="stateName" (@popOverState.done) = "TriggerEvent($event)">  
  <app-purchase-form  (messageEvent)="receiveMessage($event)"></app-purchase-form>
</div>
  
  
  