<div class="container-fluid main-content">
    <div class="row">
        <div class="col-md-4">
            <h2 class="title-1 m-b-25">Projects</h2>
        </div>
        <div class="col-md-4"></div>
        <div class = "col-md-4"> 
              <button class="btn btn-primary right-float" (click)="addNew()"><i class="fas fa-plus"></i>Add Project</button>
        </div>
      <div class="col-md-12">
            <div class="table-responsive table--no-card m-b-40">
                <table class="table table-borderless table-striped table-common">
                    <thead>
                        <tr>
                          <th>#</th>
                          <th>Project Name</th>
                          <th>Client Name</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let project of projects; index as i" (click)="seeDetailView(unit)">
                        <td scope="row">{{i+1}}</td>
                        <td>{{project.name}}</td>
                        <td>{{project.client_id}}</td>
                      </tr>
                    </tbody>
                </table>
            </div>
      </div>
    </div>
  </div>
<div [@popOverState]="stateName" (@popOverState.done) = "TriggerEvent($event)">     
    <app-project-form  (messageEvent)="receiveMessage($event)"></app-project-form>
</div>