<div class="loginwrap">
  <div class="loginform">
    <h3 class="align">
            Account Login
          </h3>
    <div class="container">
      <p style="color:red"><i>{{message}}</i></p> 
      <input type="text" placeholder="Username" [(ngModel)]="user.username" name="user.username" >
      <input type="password" placeholder="Password" [(ngModel)]="user.password" name="user.password" >
    </div>
    <div class="container" style="background-color:#f1f1f1">
      <button type="submit" class="cancelbtn">Signin</button>
    </div>   
  

</div>
