<header class="header-content">
    <div class="section-content">
        <div class="container-fluid">
            <div class="header-wrap">
                <form class="form-header" action="" method="POST">
                    <input class="au-input" type="text" name="search" placeholder="Search for datas &amp; reports..." />
                    <button class="btn btn-primary" type="submit"><i class="fas fa-search p-r-5"></i>Search</button>
                </form>
            </div>
        </div>
    </div>
</header>
