<div class="container-fluid main-content">
  <div class="row">
    <div class = "col-md-3"> 
          <button class="btn btn-primary right-float" (click)="addNew()">Add Inventory Item</button>
    </div>
    <div class="col-md-12">
          <h2 class="title-1 m-b-25">Inventories</h2>
          <div class="table-responsive table--no-card m-b-40">
              <table class="table table-borderless table-striped table-common">
                  <thead>
                      <tr>
                          <th>#</th>    
                          <th>Name</th>
                          <th>Color-code</th>
                          <th>Category</th>
                  
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let item of items; index as i">
                          <td scope="row">{{i+1}}</td>
                          <td>{{item.name}}</td>
                          <td>{{item.color_code}}</td>

                          <td *ngIf="!item.category">not available</td>
                          <td *ngIf="item.category">{{item.category.name}}</td>
                        
                      </tr>
                  </tbody>
              </table>
          </div>
    </div>
  </div>

</div>

<div [@popOverState]="stateName">  
        <app-item-form (messageEvent)="receiveMessage($event)"></app-item-form>
  </div>