<div class="container-fluid main-content">
  <div class="row">
    <h2 class="title-1 m-b-25 m-l-15">Detail</h2>
    <div class="col-md-12" *ngIf="details">
      <div class="table-responsive table--no-card m-b-10">
          <table class="table-detail">
              <tr>
                <td class="table-30">Stage Name</td>
                <td class="table-70">{{details.stage.name}}</td>
              </tr>
              <tr>
                <td>Location Name</td>
                <td>{{details.location.name}}</td>
              </tr>
              <tr>
                <td>Address</td>
                <td>{{details.location.address}}</td>
              </tr>
              <tr>
                <td>Entry</td>
                <td>{{details.createdAt}}</td>
              </tr>
              <tr>
                <td>Item Name</td>
                <td>{{details.item.name}}</td>
              </tr>
              <tr>
                <td>Item Extra</td>
                <td>{{details.item.color_code}}</td>
              </tr>
              <tr>
                <td>Item Description</td>
                <td>{{details.item.description}}</td>
              </tr>
              <tr>
                <td>Quantity</td>
                <td>{{details.quantity}} {{details.unit.name}}</td>
              </tr>
            </table>
      </div>
    </div>
  </div>

  <div class="row form-group m-t-20 rf-card" *ngIf="isStoreManager">
    <div class="col-md-12">
        <h3>Move Inventories</h3>
        <div class="row m-t-15">
            
            <div class="col-md-3">
              <label for="cc-name" class="control-label mb-1">Stages</label>
                <select [(ngModel)]="move.to_stage" name="move.to_stage" class="form-control" *ngIf="stages" >
                    <option *ngFor="let s of stages" value={{s.id}}>{{s.name}}</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="cc-name" class="control-label mb-1">Locations</label>
                <select [(ngModel)]="move.to_location" name="move.to_location" class="form-control" *ngIf="locations" >
                    <option *ngFor="let s of locations" value={{s.id}}>{{s.name}}</option>
                </select>
            </div>
        </div>
        <div class="row">
          <div class="col-md-3">
               <div class="form-group has-success">
                  <label for="cc-name" class="control-label mb-1">Quantity</label>
                  <input class="form-control" type="number" [(ngModel)]="move.quntity" name="move.quntity">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group has-success">
                  <label for="cc-name" class="control-label mb-1">Description</label>
                  <input class="form-control" type="text" [(ngModel)]="move.description" name="move.description">
                </div>
            </div>
            
            
        </div>
        <div class="">
              <button class="btn btn-success btn-blocks" (click)="submitMoveRequest()">Submit</button>
         </div>
    </div>
    <div class="col-md-6"></div>
  </div>
</div>
