<div class="modal-wrapper">
  <div class="modal-contain">
     <div class="container">
    <div class="card">
        <div class="card-header text-center">Add Stage</div>
        <div class="card-body">
            <div class="card-title">
                <h3 class="text-center title-2">Stage</h3>
            </div>
            <hr>
            <form action="" method="post" novalidate="novalidate">
                <div class="form-group">
                    <label for="cc-payment" class="control-label mb-1">Name</label>
                    <input class="form-control" type="text" [(ngModel)]="item.name" name="item.name">
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                    <label for="textarea-input" class=" form-control-label">Description</label>
                    </div>
                    <div class="col-12 col-md-9">
                    <textarea [(ngModel)]="item.description" name="item.description" id="textarea-input" rows="9" placeholder="Content..." class="form-control"></textarea>
                    </div>
                </div>
                <div class = row>
                    <div class= "col-md-4"></div>
                    <div *ngIf="!lock" class="col-md-5">
                        <button  class="btn btn-success" (click)="submit()">Submit</button>
                        <button  class="btn btn-danger m-l-20" (click)="cancel()">Cancel</button> 
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</div>