<div class="container-fluid main-content">
  <div class="row">
    <h2 class="title-1 m-b-25 m-l-15">Summary Item Detail</h2>
    <div class="col-md-12" *ngIf="details">
      <div class="table-responsive table--no-card m-b-10">
          <table class="table-detail">
              <tr>
                <td class="table-30">Requested By</td>
                <td class="table-70">{{details.cratedBy}}</td>
              </tr>
              <tr>
                <td>Buyer Name</td>
                <td>{{details.style.project.client.name}}</td>
              </tr>
              <tr>
                <td>Project Name</td>
                <td>{{details.style.project.name}}</td>
              </tr>
              <tr>
                <td>Style Name</td>
                <td>{{details.style.name}}</td>
              </tr>
              <tr>
                <td>Item Name</td>
                <td>{{details.item.name}}</td>
              </tr>
              <tr>
                <td>Item Extra</td>
                <td>{{details.item.color_code}}</td>
              </tr>
              <tr>
                <td>Item Description</td>
                <td>{{details.item.description}}</td>
              </tr>
              <tr>
                <td>From</td>
                <td>{{details.extra}}</td>
              </tr>
              <tr>
                <td>Quantity</td>
                <td>{{details.quantity}} {{details.unit.symbol}}</td>
              </tr>
              <tr>
                <td>Estimated Available Items in Store</td>
                <td>{{total_available}} {{details.unit.symbol}}</td>
              </tr>
              <tr>
                <td>Estimated Price Per Unit</td>
                <td>{{details.priceperunit}} <span *ngIf="currency">{{currency}}</span></td>
              </tr>
              <tr *ngIf="price">
                <td>Final Price</td>
                <td>{{price.amount}} <span *ngIf="currency">{{currency}}</span></td>
              </tr>
              <tr>
                <td>Estimated In-House Date</td>
                <td>{{details.date}}</td>
              </tr>
              <tr *ngIf="price">
                <td>In-House Date</td>
                <td>{{price.date}}</td>
              </tr>
              <tr>
                <td>Description</td>
                <td>{{details.description}}</td>
              </tr>
            </table>
      </div>
    </div>
  </div>
  <div class="row m-l-5 m-r-5 m-t-20 m-b-10 border-all">
    <form action="">
      <h3>Update Summary</h3>
      <div class="row">
        <div class="col-md-6 form-group">
            <label for="cc-payment" class="control-label mb-1">Final Price</label>
            <input class="form-control" type="number" [(ngModel)]="final_price" name="final_price">
          </div>
          <div class="col-md-6 form-group">
            <label for="cc-payment" class="control-label mb-1">In-Housed Date</label>
            <input class="form-control" type="date" [(ngModel)]="inhoused_date" name="inhoused_date">
          </div>
      </div>
      <button  class="btn btn-success" (click)="submitUpdate()">Submit</button>
    </form>
  </div>
  <div class="row">
    <div class="col-md-12">
        <h4 class="m-b-5">Total Inhoused Items: {{total_available}}</h4>
    </div>
    <div class="col-md-12" *ngFor="let item of availibility_info">
      <div *ngIf="!item.quantity == 0">
          <h5 class="m-b-5">Quantity: {{item.quantity}}</h5>
          <p>Place: {{item.location.name}} ({{item.location.address}})</p>
      </div>
    </div>
  </div>
</div>
