<div class="modal-wrapper">
  <div class="modal-contain">
     <div class="container">
    <div class="card">
        <div class="card-header text-center">Add Inventory Item</div>
        <div class="card-body">
            <div class="card-title">
                <h3 class="text-center title-2">Inventory Item</h3>
            </div>
            <hr>
            <form action="" method="post" novalidate="novalidate" *ngIf="!showloading">
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="cc-payment" class="control-label mb-1">Name</label>
                        <input class="form-control" type="text" [(ngModel)]="item.name" name="item.name">
                    </div>
                    <div class="col-md-6">
                        <label for="categories" class=" form-control-label">Select Category</label>
                        <select [(ngModel)]="item.category_id" name="item.category_id" class="form-control" *ngIf="categories" >
                            <option *ngFor="let category of categories" value={{category.id}}>{{category.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group has-success">
                    <label for="cc-name" class="control-label mb-1">Extra</label>
                    <input class="form-control" type="text" [(ngModel)]="item.color_code" name="item.color_code">
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                    <label for="textarea-input" class=" form-control-label">Description</label>
                    </div>
                    <div class="col-12 col-md-9">
                    <textarea [(ngModel)]="item.description" name="item.description" id="textarea-input" rows="9" placeholder="Content..." class="form-control"></textarea>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="file-input" class=" form-control-label">Image</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="file" id="file-input" [(ngModel)]="files" name="files" class="form-control-file">
                    </div>
                </div>
                <div class = row>
                    <div class= "col-md-4"></div>
                    <div *ngIf="!lock" class="col-md-5">
                        <button  class="btn btn-success" (click)="submit()">Submit</button>
                        <button  class="btn btn-danger" style="margin-left:20px;" (click)="cancel()">Cancel</button> 
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </form>
            <div *ngIf="showloading" style="text-align:center">
                <div style="display:block">
                <app-small-loading></app-small-loading>
                </div>
            </div> 
        </div>
    </div>
</div>
</div>
</div>